%btn {
	display: inline-block;
	position: relative;
	font-family: $sans-serif;
	text-decoration: none;
	color: $white;
	font-size: 0.9em;
	font-size: 34px;
	line-height: 34px;
	font-weight: normal;
	padding: 0 24px;
	border-radius: 4px;
	border: 0;
	cursor: pointer;

	&:hover, &:focus {
		color: $white;
		text-decoration: none;
		outline: none;
	}

	&:active {
		top: 1px;
	}

}

.gform_button {
	@extend %btn;
}

.blue-btn {
	@extend %btn;
	background-color: $blue;

	&:hover,
	&:focus {
		background-color: darken($blue, 4%);
	}

	&:active {
		background-color: darken($blue, 5%);
	}
}