/******************************************************************
GENERAL STYLES
******************************************************************/

.tablet {
	display: none !important;
}

.not-tablet.desktop {
	display: block !important;
}

.not-tablet.desktop-inline {
	display: inline-block !important;
}

/******************************************************************
LAYOUT & GRID STYLES
******************************************************************/

.wrap {
  width: 1040px;
}

/******************************************************************
HEADER STYLES
******************************************************************/

@import "parts/header/header-1030";

/******************************************************************
NAVIGATION
******************************************************************/

@import "parts/nav/nav-1030";

/******************************************************************
FOOTER
******************************************************************/

@import "parts/footer/footer-1030";