/******************************************************************
GENERAL STYLES
******************************************************************/

body {

}

.desktop {
	display: block !important;
}

.desktop-inline {
	display: inline-block !important;
}

.mobile {
	display: none !important;
}

.tablet {
	display: block !important;
}

.tablet-inline {
	display: inline-block !important;
}

.not-tablet {
	display: none !important;
}

p, ul {
	margin: 0 0 30px;
	font-size: 18px;
	line-height: 1.8;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1 {
	font-size: 36px;
}

h2, .h2 {
	font-size: 36px;

	&.h1 {
		font-size: 36px;
	}
}

h3, .h3 {
	font-size: 28px;
}

/******************************************************************
LAYOUT & GRID STYLES
******************************************************************/

.wrap {
	width: 728px;
}

/******************************************************************
HEADER STYLES
******************************************************************/

@import "parts/header/header-768";

/******************************************************************
NAVIGATION
******************************************************************/

@import "parts/nav/nav-768";

/******************************************************************
FOOTER
******************************************************************/

@import "parts/footer/footer-768";